* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Gordao";
    src: url(https://rawcdn.githack.com/Art-26/tropadogordao/f53768442a7cc9902de1f86ef2439fc2262365d4/aAnotherTag.otf);
}
header {
    font-family: Gordao;
    color: white;
    letter-spacing: 3px;
    padding: 30px;
    text-align: center;
}
header a {
    text-decoration: none;
    color: white;
}
header:hover {
    background-color: antiquewhite;
    color: black;
}
header a:hover {
    background-color: antiquewhite;
    color: black;
}
nav {
    text-align: center;
    margin-top: 3px;
    background-color: antiquewhite;
    padding: 10px;
}
nav a {
    text-decoration: none;
    color: black;
    font-family: Gordao;
    letter-spacing: 3px;
    padding: 0 12px;
    font-size: 25px;

}
nav a:hover {
    background-color: black;
    color: white;
    border-radius: 2px;
}
body {
    background-color: black;
}
.h1b {
    color: white;
    font-family: "Titan One", serif;
    text-align: center;
    margin-top: 15px;
    font-size: 40px;
}
p {
    color: white;
    text-align: justify;
    padding: 40px;
    font-family: Titan One;
}
footer {
    margin-top: 300px;
    padding: 40px;
    font-family: Titan One;
    background-color: rgb(10, 10, 10);
    bottom: 0;
    position: relative;
    color: rgb(170, 169, 169);
    text-align: center;
}
color2 {
    background-image: linear-gradient(to right bottom, rgb(53, 3, 53), rgb(255, 35, 6), orange);
    -webkit-text-fill-color: text;
    -webkit-background-clip: text;
    color: transparent;
    
}
